---
// src/pages/index.astro
import Repairtoilet from "../../Repairtoilet";
import "../../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gardner Plumbing</title>
  </head>
  <body class="bg-background text-foreground antialiased min-h-screen">
    <Repairtoilet client:load />
  </body>
</html>
